html,
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.7;
}
b,
strong {
  font-weight: 400;
}
body {
  padding-top: 51px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.navbar-form ul {
  margin-top: -10px;
}
.toast-top-right {
  top: 70px;
}
